.tabs {
    display: flex;

    .tab {
        background: none;
        border: none;
        padding: var(--spacing-1) 10px;
        margin-right: var(--spacing-1);
        border-radius: var(--radius-1);
        font: var(--sm);
        color: var(--text-secondary);
        cursor: pointer;

        &:hover {
            color: var(--text-primary);
            background-color: var(--neutral-100);
        }

        &.is-active {
            color: var(--text-primary);
            font-weight: 600;
            background-color: var(--neutral-100);
        }
    }
}