.notes-gallery {
    margin-left: var(--spacing-3);

    .image-gallery {
        position: relative;
        width: 100%;
        box-sizing: border-box;

        .image-gallery-item {
            position: absolute;
            margin: 0;
            box-sizing: border-box;
            object-fit: cover;
            border-radius: var(--radius-1);
            transition-property: box-shadow, opacity;
            transition-duration: var(--transition-normal);
            box-shadow: var(--shadow-2);
            opacity: 0;
            cursor: pointer;

            &.loaded {
                opacity: 1;
            }

            &:hover {
                box-shadow: var(--shadow-4);
            }

            &:active {
                transform: scale(0.98);
                transition: transform var(--transition-fast) ease-out;
            }
        }

        .image-gallery-empty-text {
            font: var(--sm);
            padding: var(--spacing-4);
            color: var(--neutral-400);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 64px;
        }
    }
}

