.search-preview {
    min-width: 0;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    padding: var(--spacing-4);
    border-radius: var(--radius-1);
    margin: var(--spacing-2);
    margin-top: 0px;
    background-color: var(--bg-secondary);

    &::-webkit-scrollbar {
        display: none;
    }

    .search-preview-content {
        .search-preview-title {
            font: var(--h4);
            color: var(--text-primary);
            margin-bottom: var(--spacing-4);
        }
    }

    .search-preview-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 368px;
        font: var(--p1);
        color: var(--text-secondary);
        text-align: center;
    }
}